---
layout: default
title: "Посты"
---

{% if site.show_excerpts %}
  {% for post in site.posts %}
    <article>
      {% include meta.html post=post %}
      {{ post.excerpt }}
      <footer class="button"><a href="{{ post.url | relative_url }}">read more</a></footer>
    </article>
  {% endfor %}
{% else %}
  {% capture source %}{% include_relative archive.html title="Посты" %}{% endcapture %}
  {{ source | split: "---" | last }}
{% endif %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>